node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Go binaries
llm-system-interface/llm-system-interface

# Python
__pycache__/
*.pyc
*.pyo

# Env
.env
#.env.* need the .env.example
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Images
/uploads/images

.opencode/
notes
permission-matrix.odt
.~*