GEMINI_API_KEY=fill_in_your_key
# GEMINI_MODEL=gemini-2.0-flash
# GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:streamGenerateContent?alt=sse

GEMINI_MODEL=gemini-3.1-flash-lite-preview
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:streamGenerateContent?alt=sse

# OLLAMA_MODEL=gemma3:4b
OLLAMA_MODEL=gemma4:e4b
OLLAMA_URL=http://ollama:11434
# OLLAMA_URL=http://localhost:11434
OLLAMA_EMBED_MODEL=nomic-embed-text

CHROMA_URL=http://chromadb:8000
# CHROMA_URL=http://localhost:8000

#ALLOWED_ORIGINS=https://42overflow.com,https://www.42overflow.com # production
ALLOWED_ORIGINS=http://localhost:5173,http://localhost,http://127.0.0.1,https://42overflow.com,https://www.42overflow.com # comment out: this is for dev only: todo